.container {
  margin-top: 20px;
  padding: 2px 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: max-content;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.comment-box {
  width: 60%;
  border: darkgray solid 1px;
  padding: 1px 15px;
  margin-bottom: 1px;
}

.btn {
  margin-top: 15px;
  border: gray solid 1px;
  padding: 7px 14px;
  background-color: #e7e7e7;
  color: black;
}

.btn:hover {
  background: #ddd;
}

.text {
  font-size: smaller;
  font-style: italic;
}

.image{
  margin-top: 20px;
}
