{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p>Hello, {{ user.username }}!</p>
  <a href="{% url 'logout' %}">logout</a> |
  <a href="{% url 'password_change' %}">change password</a>
{% else %}
  <p>you are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
<p><a href="{% url 'all_books' %}">all books</a></p>
<p><a href="{% url 'all_authors' %}">all authors</a></p>
{% endblock %}