{% extends 'base.html' %}

{% load static %}

{% block title %}All books{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'catalog/book-list-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'customauth/form-style.css' %}">
{% endblock %}

{% block content %}

{% if book_list %}
  {% for book in book_list %}
    <div style="float:left; width:33.3%; overflow:hidden; height:300px; text-align:center; margin-top:20px;">
      {% if book.image %}
      <a href="{% url 'book_detail' book.id %}"><img src="../{{MEDIA_URL}}{{book.image.url}}" alt="Здесь могла быть ваша обложка" width=150px height=250px/></a>
      {% endif %}
      <a href="{% url 'book_detail' book.id %}"></br>{{ book.title }}</a>
      <a href="{% url 'author_detail' book.author.id %}"></br>{{ book.author }}</a>
    </div>

  {% endfor %}
{% else %}
  <p>No books are available.</p>
{% endif %}

{% endblock %}
