{% extends 'base.html' %}

{% load static %}

{% block title %}{{ author }}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'catalog/author-detail-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'customauth/form-style.css' %}">
{% endblock %}

{% block content %}

{% if author.image %}
<img src="../../{{MEDIA_URL}}{{author.image.url}}" alt="Здесь могла быть ваша обложка" width=150px height=200px/>
{% endif %}

<p>{{ author }}</p>
{% if book_list %}
  <ul>
  {% for book in book_list %}
    <li><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>No books are available.</p>
{% endif %}

{% endblock %}
